@charset "UTF-8";

p{font-family:Arial, Helvetica, sans-serif}

form{width:100%}
#formContainer{
	width:800px;
	margin:0 auto;
	border:thin solid #CCC;
	padding:20px 30px 10px 30px;
	color:#523628;
	overflow:hidden}
	
#footer{width:850px;margin:0 auto;overflow:hidden}

/* STYLES FOR TYPOGRAPHY */

.legal{font-family:Arial, Helvetica, sans-serif;font-size:9px;color:#523628;line-height:130%}
.optin{font-family:Arial, Helvetica, sans-serif;font-size:11px;font-weight:bold;position:relative;padding-left:5px;padding-top:3px;float:left;margin:0px 0px 0px 0px}
.large{font-size:32px;color:#523628;font-family:Arial, Helvetica, sans-serif;font-weight:bolder;line-height:10px}
.small{font-size:11px;color:#523628;font-family:Arial, Helvetica, sans-serif !important;font-weight:normal;line-height:10px;margin:0}
.homelink{
	z-index:101;
	position:relative;
	float:right;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#669;
	font-size:12px;
	margin-right:80px;
	margin-top:20px}
	
.homelink:hover{color:#fff;}

/*THIS IS THE CSS FOR THE FORM TEXT FIELD ELEMENTS ABOVE THE CHECKBOX AND SUBMIT*/

#topform{}
#topform input {width:46%;float:left;border:0px;background-color:#e5deda;height:25px;margin-top:8px;padding-left:20px}
#topform input[placeholder]{color:#523628;font-family:Arial, Helvetica, sans-serif;font-weight:bold}
#topform .secCol{margin-left:1%;float:right}
#topform input:focus {box-shadow: 0 0 4px #f8981d;border: 0px solid #f8981d;outline:none;}

/*STYLES FOR THE SUBMIT BUTTON AND CHECKBOX AT BOTTOM*/

#bottomform{width:75%;float:left;margin-top:10px}
#bottomform input{border:0px;background-color:#e5deda;}

#submit{float:right;margin-top:10px}
#submit input{border:0px;background-color:#e5deda;width:100px;height:20px}
#submit input:hover{background-color:#523628;}
#submit input[value]{color:#523628;font-family:Arial, Helvetica, sans-serif;font-weight:bold}
#submit input[value]:hover{color:#af9e95;cursor:pointer}
.logo{float:left}

#policy{float:left;margin:20px 0px 0px 100px;width:50%}
#policy p{font-size:9px;color:#523628;text-align:center;}
#policy a{color:inherit;text-decoration:none}
#addinfo{float:right;text-align:right}
#addinfo p{color:#523628}
.reallySmall{font-size:7px}
.num{font-size:18px}

@media screen and (max-width: 850px){

#formContainer{
	width:90%;
	margin:0;
	border:thin solid #CCC;
	padding:20px 5% 30px 5%;}
	
#topform input {width:46%;float:left;height:25px;margin-top:8px;padding-left:10px}
#topform .secCol{margin-left:1%;float:right}
#topform .state{margin-left:0;float:right;width:22.8%}
#topform .zip{margin-left:0;float:right;width:21%}
.optin{padding-left:5px;padding-top:3px;float:left;margin:-20px 0px 0px 30px}
#footer{width:100%}


}

@media screen and (max-width: 700px){
#policy{margin:20px 0px 0px 40px;width:40%}
}

@media screen and (max-width: 550px){

#formContainer{
	width:90%;
	margin:0;
	border:thin solid #CCC;
	padding:20px 5% 30px 5%;}
	
#topform input {width:100%;float:none;height:25px;margin-top:8px;padding-left:2px}
#topform .secCol{margin-left:0;float:none}
#topform .state{margin-left:0;float:none;width:100%}
#topform .zip{margin-left:0;float:none;width:100%}
#bottomform{width:100%;float:none;margin-top:10px}
.large{font-size:20px}
.small{font-size:11px}
.homelink{
	z-index:101;
	position:relative;
	float:right;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#669;
	font-size:20px;
	margin-right:80px;
	margin-top:20px}
	
#submit{float:left;margin-top:10px;width:100%}
#policy{margin:20px 0px 0px 0px;width:100%;float:none;text-align:right;display:block}
#addinfo{float:none;text-align:left}
#policy p{text-align:right;}

}
